<div class="row">
    <div class="col-md-5">
        <div class="bs-component">
            <div class="panel panel-default">
                <div class="panel-body">
                    <!--<prod-recipe-list (recipeSelected)="selectedRecipe = $event"></prod-recipe-list>-->
                    <prod-recipe-list></prod-recipe-list>
                </div>
            </div>
        </div>
    </div>
    <div class=" col-md-7 ">
        <div class="jumbotron ">
            <h3>Recipe Details</h3>
            <router-outlet></router-outlet>
            <!--<prod-recipe-detail [selectedRecipe]="selectedRecipe"></prod-recipe-detail>-->
            <!--<p>This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>-->

            <!--<p><a class="btn btn-primary btn-lg ">Learn more</a></p>-->
        </div>
    </div>
</div>